extends layout

block content
  .col-xs-12.col-sm-9.col-sm-offset-1.col-md-8.col-lg-6
    .page-header
      h1 About Upcoming
    
    p. 
      #[strong Upcoming] is a simple way to share and discover interesting events from your friends, followers, and the artists and organizations you care about.
      
    p.
      Upcoming wasn't built for event promoters, organizers, or venues &mdash; it was built for you. Add the stuff you're most excited about going to, recommend interesting stuff you find, and follow people with tastes like your own.
              
    p Everything on Upcoming was added by the community, not from feeds or scraped from around the web. It's a curated list of events from the people that use it every day.
      
    p Upcoming will never be comprehensive, and it's not for everybody. That's okay.
      
  
    h2 History
    p.
      Launched in 2003, before Flickr or Facebook, Upcoming was the first site to use a social network for event discovery. After two years, Upcoming was acquired by Yahoo, running for a decade before Yahoo shuttered it in 2013.
      
  .col-xs-12.col-sm-12.col-sm-offset-0.col-md-10.col-lg-8
    p
      img(src="/images/about/upcoming_2007.png" width="100%")
    
    p.text-center
      small Upcoming in 2007
      
  .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-lg-6
    p.
      Shortly after they shut it down, Yahoo offered to sell the domain back to me, an 
      unprecedented move for a former acquisition. 
      
    p.
      I decided to launch a <a href="https://www.kickstarter.com/projects/waxpancake/the-return-of-upcomingorg/description">Kickstarter project</a> to gauge interest in bringing Upcoming back from the dead. With the incredible support and infinite patience of <a href="/about/backers">1,787 backers</a>, I rebuilt Upcoming from scratch, restored the <a href="http://archive.upcoming.org/">event archive</a>, and relaunched the community in March 2017.
      
    p Thank you for believing in it.
          
    h2 Who
    p.
      Upcoming was developed and designed by me, <a href="http://waxy.org/">Andy Baio</a>. I started Upcoming in 2003, and was joined a year later by my friends <a href="https://twitter.com/lhl">Leonard Lin</a> and <a href="https://twitter.com/getluky">Gordon Luk</a>, who came on board as co-founders.
    
    p. 
      Gordon moved on to other projects, and Leonard is a technical advisor for the latest incarnation.
      
    p.
      If you'd like to contribute to Upcoming's development, you can join the party <a href="https://github.com/upcoming">over at GitHub</a>.
  
  
    h2 Thanks
    p.
      Special thanks to Leonard for his technical guidance and friendship.
      
    p.
      Thanks to <a href="https://twitter.com/andymcmillan">Andy McMillan</a> for pushing me past the 
      finish line, and for his empathy when things went wrong.
      
    p.
      Special thanks to <a href="https://twitter.com/textfiles">Jason Scott</a>, 
      <a href="http://www.archiveteam.org/">Archive Team</a>, and the <a href="https://archive.org/">Internet Archive</a> for their complete save of the original Upcoming.org archives, and everyone who contributed their time and spare cycles to rescue the data.
      
    p.
      My deepest eternal gratitude to my wife Ami and my son Eliot for being everything.
      
    
    h2 Backers
    p.
      This project would not have been possible without the support, both emotional and financial, from <a href="/about/backers">every Kickstarter backer</a>. Thank you, and sorry to keep you waiting.
      
    p.
      Special thanks to the Upcoming patrons who went above and beyond in their support:
    
    .row
      .col-md-6 
        h4 Universal Patrons
        
        li Adam Brault
        li Scott O'Reilly
        li Dave Rutledge
        li Caterina Fake
        li Stewart Butterfield
        li Robert Graff
        li Campaign Monitor
        li Scott Heiferman
      
      .col-md-6 
        h4 City Patrons
        
        li Jon Bell &mdash; Seattle
        li MailChimp &mdash;  Atlanta
        li Michael Sippey &mdash; San Francisco
        li Heathervescent &mdash; Los Angeles
        li Gapers Block &mdash; Chicago
        li Eric Marcoullier &mdash; Boulder
        li Mark Norman Francis &mdash; London
        li Shawn Lee &mdash; Minneapolis/St. Paul
        li Matthew Oliphant &mdash; Portland
        li Tarikh Korula &mdash; New York
        li Christian Newton &mdash; Austin

    .p
      .text-center
        p(style="padding: 40px")
          strong You're all the best. <3
        