extends layout

block content
  .col-xs-12.col-sm-10.col-md-8  
    .page-header
      h1= title
      
    - each friend in following
      .friend.clearfix
        img.img-rounded(alt='', src="//avatars.io/twitter/#{friend.username}/small", style='float: left; margin-bottom: 10px; margin-right: 10px; width: 48px; height: 48px;')
        h4
          a(href="/@" + friend.username) #{friend.name}
          small
            |  @#{friend.username}
