extends layout

block content
  .col-xs-12.col-sm-10.col-md-8  
    .page-header
      h1 Guidelines
    
    p.
      Upcoming is dedicated to providing a harassment-free experience for everyone, regardless of 
      gender, age, sexual orientation, disability, physical appearance, body size, race, or 
      religion (or lack thereof). We do not tolerate harassment of participants in any form. 
      
    p.
      These guidelines are a work in progress. More information when the site opens to the
      public at large.