extends layout

block content
  #main
  .hidden-xs.col-sm-2
    .list-nav
      a(href='/?sort=recommended') Recommended
      a(href='/?sort=popular') Popular
      a(href='/?sort=new') Recently added
      a(href='/?sort=date') Latest
    .list-nav
      a(href='/?when=future') Future
      a(href='/?when=past') Past Events
      a(href='/') Pick a Date

  .col-xs-12.col-sm-6
    ul#myTabs.nav.nav-tabs(role="tablist")
      li.active(role="presentation")
        a(href="#all", data-url="/home/all", aria-controls="all", role="tab", data-toggle="tab") All
      li
        a(href="#following", data-url="/home/following", aria-controls="following", role="tab", data-toggle="tab") Following
      li
        a(href="#my", data-url="/home/my", aria-controls="my", role="tab", data-toggle="tab") My Events
    
    div.tab-content
      div#all.tab-pane.active(role="tabpanel")      

      div#following.tab-pane(role="tabpanel")
        
      div#my.tab-pane(role="tabpanel")

  .col-xs-12.col-sm-4
    include news