extends layout

block includes
  script(src='//cdn.jsdelivr.net/handlebarsjs/3.0.0/handlebars.min.js')
  script(src='/components/corejs-typeahead/dist/typeahead.bundle.min.js')
  script.
    $.getScript('/js/autocomplete.js');

block content
  #main
  .col-xs-12.col-sm-2
    #filters
      .row
        .col-xs-4.col-sm-12
          #city-list.list-nav
            .list-item
              a(href='#', data-cat="gid", data-filter="all", class="active") Anywhere
            if user_locations
              - each user_location in user_locations
                .list-item
                  a(href='#', data-cat="gid", data-filter="#{user_location.gid}") #{user_location.name}
                  | 
                  a.remove-city(href='#')
                    span.glyphicon.glyphicon-remove-circle(aria-hidden="true")
              .list-item
                #add-city
                  a(href='#') Change City
                #autocomplete
                  form(method='post', action='/user/location')
                    input#name.form-control.typeahead(type='text', name='name', placeholder='City Name', autocomplete='off')
            else
              #add-city
                a(href='/login') Change City
              
        .col-xs-4.col-sm-12
          .list-nav
            .list-item
              a(href='#', data-cat="sort", data-filter="date", class="active") Latest
            .list-item
              a(href='#', data-cat="sort", data-filter="popular") Popular
            .list-item
              a(href='#', data-cat="sort", data-filter="new") Newly Added

        .col-xs-4.col-sm-12
          .list-nav
            .list-item
              a(href='#', data-cat="when", data-filter="future", class="active") Future
            .list-item
              a(href='#', data-cat="when", data-filter="past") Past Events
            .list-item
              a(href='#', data-cat="when", data-filter="all") Anytime
        
  .col-xs-12.col-sm-6
    ul#myTabs.nav.nav-tabs(role="tablist")
      li.active(role="presentation")
        a(href="#all", data-url="/home/all", aria-controls="all", role="tab", data-toggle="tab") All
      li
        a(href="#following", data-url="/home/following", aria-controls="following", role="tab", data-toggle="tab") Following
      li
        a(href="#my", data-url="/home/my", aria-controls="my", role="tab", data-toggle="tab") My Events
    
    div.tab-content
      div#all.tab-pane.active(role="tabpanel")      

      div#following.tab-pane(role="tabpanel")
        
      div#my.tab-pane(role="tabpanel")

  .hidden-xs.col-sm-4
    include news
