
#news
  .panel.panel-default
    .panel-heading
      .panel-title What's Upcoming?
    .panel-body
      p.
        Upcoming is a simple way to share and discover interesting events from your friends, followers, and the artists and organizations you care about.
      
      p
        a(href="/about") Learn more...
      
  
    
  .panel.panel-default
    .panel-heading
      .panel-title What's coming up?
  
    .panel-body.list-group
      li.list-group-item ✅ Markdown in event descriptions
      li.list-group-item ✅ Markdown in comments
      li.list-group-item ✅ Geocoding venues
      li.list-group-item ✅ Filtering events by place
      li.list-group-item ✅ Emoji support
      li.list-group-item ✅ Editing events
      li.list-group-item ✅ Show events on profiles
      li.list-group-item ✅ Save avatars from Twitter
      li.list-group-item ✅ City/location filter on homepage
      li.list-group-item Follow/unfollow people
      li.list-group-item Add new venues
      li.list-group-item Twitter cards
      li.list-group-item Trip support
      li.list-group-item Deleting/cancelling events
      li.list-group-item Event search
      li.list-group-item REST API and JSON views
      li.list-group-item Terms of service
      li.list-group-item Edit your profile
      li.list-group-item Delete your account
      li.list-group-item Export your history
      li.list-group-item Embeds
      li.list-group-item Calendar export
      li.list-group-item Blocking/reporting users and events
    
