extends layout

block includes
  script.
    $.getScript('/js/watchlists.js');

block content
  #main
    .page-header
      if place.properties
        if place.properties.country == 'United States'
          h1= 'Events in ' + place.properties.locality + ', ' + place.properties.region
        else
          h1= 'Events in ' + place.properties.locality + ', ' + place.properties.country
      else
        if place.country.name == 'United States'
          h1= 'Events in ' + place.locality.name + ', ' + place.region.name
        else
          h1= 'Events in ' + place.locality.name + ', ' + place.country.name
      
                
  .hidden-xs.col-sm-2
    .list-nav
      a(href='?sort=recommended') Recommended
      a(href='?sort=popular') Popular
      a(href='?sort=new') Recently added
      a(href='?sort=date') Latest
    .list-nav
      a(href='?when=future') Upcoming
      a(href='?when=past') Past Events
  
  .col-xs-12.col-sm-6
    include event-list
             
  .col-xs-12.col-sm-6