extends layout

block includes
  script(src='/js/watchlists.js')

block content
  #main
    .page-header
      h1= place.properties.label
          
  .hidden-xs.col-sm-2
    .list-nav
      a(href='?sort=recommended') Recommended
      a(href='?sort=popular') Popular
      a(href='?sort=new') Recently added
      a(href='?sort=date') Latest
    .list-nav
      a(href='?when=future') Future
      a(href='?when=past') Past Events
      a(href='/') Pick a Date
  
  .col-xs-12.col-sm-6
    include event-list
             
  .col-xs-12.col-sm-6