{% extends "base.html" %}

{% block body %}
<div class="col-md-6">
  <h1>Add new event</h1>

  <form method="post" action="/add">
    <div class="form-group">
      <label for="event_name">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="venue_name">Venue</label>
          <input type="text" class="form-control typeahead" id="venue_name" name="venue_name" placeholder="Venue name" autocomplete="off">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="venue_city">City</label>
          <input type="text" class="form-control" id="venue_city" name="venue_city" value="Portland, OR">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="start_date">Start date</label>
          <input type="date" class="form-control" id="start_date" name="start_date">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="end_date">End date</label>
          <input type="date" class="form-control" id="end_date" name="end_date">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="start_time">Start time</label>
          <input type="time" class="form-control" id="start_time" name="start_time">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="end_time">End time</label>
          <input type="time" class="form-control" id="end_time" name="end_time">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input type="text" class="form-control" id="website" name="website">
    </div>
  
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="5" id="description" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Add event</button>

  </form>
</div>

<script type="text/javascript">
var venues = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '/venue/search/?city=%CITY&query=%QUERY',
    replace: function(url, query) {
      var city = encodeURIComponent($('#venue_city').val());
      return url.replace('%QUERY', query).replace('%CITY', city);
    },
    rateLimitBy: 'debounce',
    rateLimitWait: 300,
  }
});
 
venues.initialize();
 
$('#venue_name').typeahead({
    hint: true,
    highlight: true,
    minLength: 3
  }, {
    name: 'Search',
    displayKey: 'name',
    source: venues.ttAdapter()
});

$("#venue_city").geocomplete({
  types: ['(cities)']
});

</script>
{% end %}