{% extends "base.html" %}

{% block title %}{{ event['title'] }} at {{ event['name'] }}{% end %} 

{% block body %}
{% import arrow %}

<div id="main">
  <div class="col-md-9">
  <div class="row">
    <div class="event-title">
      {{ event['title'] }} at {{ event['name'] }}
      on {{ arrow.get( event['start_date'] ).format('MMMM D, YYYY') }}
    </div>
  </div>
  <div class="row">
    <p>
      {{ arrow.get( event['start_date'] ).format('MMMM D') }} 

      {% if event['end_date'] != '' %}
        - {{ arrow.get( event['end_date'] ).format('MMMM D, YYYY') }}
      {% end %}
    </p>
    <p>
      {% if event['start_time'] != None %}      
        {{ event['start_time'] }}
      {% end %}      
      
      {% if event['end_time'] != None %}      
        - {{ event['end_time'] }}
      {% end %}
    </p>
    
    {% if event['website'] != '' %}
      <p>{{ event['website'] }}</p>
    {% end %}
    
    {% if event['description'] != '' %}
      <p>{{ event['description'] }}</p>
    {% end %}
    
    <p>
      <a href="/venue/{{ event['venue_id'] }}">{{ event['name'] }}</a><br />
      {{ event['address'] }}<br />
      {{ event['locality'] }}, {{ event['region'] }} {{ event['postal_code'] }}
    </p>
    {#
    <p>
      Added by <a href="/user/{{ event['creator_user_id'] }}"><img src="{{ event['creator_avatar'] }}"></a> 
      <a href="/user/{{ event['creator_user_id'] }}">{{ event['creator_username'] }}</a>
      {{ arrow.get( event['created_at'] ).humanize() }}
    </p>
    #}
  </div>

  {% if 'watchlists' in event %}
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <strong>Watching</strong>
        {% for watchlist in event['watchlists'] %}
          {% if watchlist['status'] == 'watch' %}
            <li>
              <a href="/user/{{ watchlist['user_id'] }}"><img src="{{ watchlist['avatar'] }}"></a> 
              <a href="/user/{{ watchlist['user_id'] }}">{{ watchlist['username'] }}</a>
            </li>
          {% end %}
        {% end %}
      </div>
      <div class="col-xs-6 col-md-4">
        <strong>Attending</strong>
        {% for watchlist in event['watchlists'] %}
          {% if watchlist['status'] == 'attend' %}
            <li>
              <a href="/user/{{ watchlist['user_id'] }}"><img src="{{ watchlist['avatar'] }}"></a>
              <a href="/user/{{ watchlist['user_id'] }}">{{ watchlist['username'] }}</a>
            </li>
          {% end %}
        {% end %}
      </div>
    </div>
  {% end %}

  {% if 'comments' in event %}
  <div class="row">
    <h3>Comments</h3><br />
      {% for comment in event['comments'] %}
        <li>
          <a href="/user/@{{ comment['username'] }}"><img src="{{ comment['avatar'] }}"></a> 
          <a href="/user/@{{ comment['username'] }}">{{ comment['name'] }}</a> @{{ comment['username'] }}:
          {{ comment['comment'] }}
        </li>

      {% end %}
    {% end %}
  </div>
  </div>
</div>
{% end %}
