{% extends "base.html" %}
{% block body %}
<div class="col-md-3">
  <div class="list-nav">
    <a href="">Upcoming</a>
    <a href="">This Weekend</a>
    <a href="">Next Month</a>
    <a href="">Pick A Day</a>
  </div>

  <div class="list-nav">
    <a href="">Recommended</a>
    <a href="">Most Popular</a>
    <a href="">Recently Added</a>
  </div>
</div>
<div id="main">
  <div class="col-md-9">
    {% set prev_start_date = '2000-01-01' %}

    {% for event in events %}
      <div class="row">
        <div class="col-md-2">
          <div class="event-date">
            {% if prev_start_date != event['start_date'] %}
              <div class="month">{{ datetime.datetime.strptime( event['start_date'], '%Y-%m-%d').strftime('%B') }}</div>
              <div class="day">{{ datetime.datetime.strptime( event['start_date'], '%Y-%m-%d').strftime('%e').lstrip('0') }}</div>
              {% set prev_start_date = event['start_date'] %}
            {% end %}
          </div>
        </div>

        {% if 'title' in event %}
          <div class="col-md-8">
            <div class="event">
              <div class="event-title">
                <a href="/event/{{ event['id'] }}">{{ event['title'] }}</a> 
                at {{ event['venue_name'] }}
              </div>
              <p>{{ event['description'].replace('<br/>', ' ') }}</p>
            </div>
          </div>
        {% end %}
      </div>
    {% end %}

  </div>
</div>

{% end %}